<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cryo Overflow</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <ul>
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <li><a href="{{ url_for('main.share_code') }}">Share Code</a></li>
        <li><a href="{{ url_for('main.search_code') }}">Search Code</a></li>
    </ul>
    {% block content %}
    {% endblock %}
</body>
</html>
