{% extends "layout.html" %}
{% block content %}
    <h1>Search Results</h1>
    {% if matches %}
        <ul>
            {% for match in matches %}
            <h2><a href="{{ match.file_link }}">{{ match.filename }}</a></h2>
            <pre>{{ match.context|join }}</pre>
            {% endfor %}
        </ul>
    {% else %}
        <p>No results found.</p>
    {% endif %}
{% endblock %}
