{% extends "layout.html" %}
{% block content %}
    <h1>Search for Code</h1>
    <form action="{{ url_for('main.search_results') }}" method="POST">
        <input type="text" name="query" placeholder="Enter search term..." required>
        <input type="submit" value="Search">
    </form>
{% endblock %}