{% extends "layout.html" %}
{% block content %}
    <h1>Share Code File</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.title.label }} {{ form.title() }}<br>
        {{ form.file.label }} {{ form.file() }}<br>
        {{ form.description.label }} {{ form.description() }}<br>
        {{ form.language.label }} {{ form.language() }}<br>
        <input type="submit" value="Share">
    </form>
{% endblock %}
