{% extends "layout.html" %}
{% block content %}
    <h1>Share Your Code</h1>
    <ul>
        <li><a href="{{ url_for('main.share_code_snippet') }}">Share Code Snippet</a></li>
        <li><a href="{{ url_for('main.share_code_file') }}">Share Code File</a></li>
        <li><a href="{{ url_for('main.share_blog_post') }}">Share Blog Post</a></li>
    </ul>
{% endblock %}
