{% extends "layout.html" %}
{% block content %}
    <h1>Share Blog Post</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <label for="title">Title</label>
        {{ form.title(size=30) }}<br>
        <label for="post">Post:</label>
        {{ form.post(size=600) }}<br>
        <input type="submit" value="Share">
    </form>
{% endblock %}
