{% extends "layout.html" %}

{% block content %}
<h2>Share a Code Snippet</h2>

<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <label for="title">Title:</label>
    {{ form.title(size=30) }}<br>

    <label for="code">Code:</label>
    {{ form.code(size=300) }}<br>

    <label for="description">Description:</label>
    {{ form.description(size=300) }}<br>

    <label for="language">Language:</label>
    {{ form.language() }}<br>

    <input type="submit" value="Share">
</form>
{% endblock %}
